@import './global.scss';

$primary-color : #f94d00;

.App {
    display: flex;
    width : 100%;
    .nav-bg {
        position : fixed;
        width : 100%;
        height : 100vh;
        background: rgba(0, 0, 0, 0.5);
        z-index: 999;
    }
    
    nav {
        position: absolute;
        width : 300px;
        height : 100vh;
        padding : 3rem;
        transition : 0.5s;
        background: rgb(247, 247, 247);
        z-index: 1000;
        h2 { margin-bottom : 2.5rem; }
        ul {
            width : 100%;
            li {
                display: flex;
                align-items: center;
                gap : 1.2rem;
                width : 100%;
                padding : 10px 0;
                a { text-decoration: none; color : $black; transition : 0.2s; }
                a:hover { color : $primary-color; }
            }
        }
        transform : translateX(-100%);
        &.active { transform : translateX(0%); }
    }
    main {
        flex : 1;
        min-height: 100vh;
        header {
            position : fixed;
            display: flex;
            align-items: center;
            width : 100%;
            padding : 20px 40px;
            background: transparent;
            color : white;
            z-index: 1;
            h3 { font-weight: 500; flex : 1; text-align: center ;}
        }
        &>div {
            flex : 1;
            // padding : 10px 40px;
            min-height : 100vh;
        }
    }   
}

.main {
    position: relative;
    box-sizing: border-box;
    min-height : 200vh !important;
    .top {
        width : 100%;
        height : 100vh;
        background: gray;
    }
}
section { 
    width : 100%;
    height : 100vh;
    &.top-banner {
        background: rgba(0, 0, 0, 0.6);
    }
    &.top-banner {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
// component

.draft {
    position: absolute;
    bottom : 10%;
    width : 200%;
    transform : translateX(-15%);
    .item {
        position : absolute;
        width : 100%;
        padding-bottom : 100%;
        animation: draft 4s linear infinite;  
        z-index: 1000;
        border-radius: 48%;  
        &:nth-child(1){
            background: rgba(188, 220, 240, 0.8);
            animation: draft 13s ease-in-out infinite;
            left : -20%;
        }
        &:nth-child(2){
            background: rgba(229, 221, 190, 0.829);
            animation: draft 15s ease-in-out infinite;
            left : -10%;
        }
        &:nth-child(3){
            background: rgba(193, 183, 183, 0.691);
            animation: draft 9s ease-in infinite;
            left : 0%;
        }
        &:nth-child(4){
            background: rgba(243, 246, 239, 0.887);
            animation: draft 9s ease-in infinite;
            left : 10%;
        }
        &:nth-child(5){
            background: rgba(255, 255, 255, 1);
            animation: draft 9s ease-in infinite;
            left : -30%;
        }

        @keyframes draft {
            0% { transform : rotate(0deg) }
            100% { transform : rotate(360deg) }
        }
    }
    
}
.icon {
    display: block;
    width : 1rem;
    height : 1rem;
    border : 1px solid gray;
}